* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  /* Brand colors */
  --dark-green: 45, 67, 52;
  --light-green: 169, 195, 174;
  --gray: 240, 240, 240;
  --white: 250, 250, 250;
  --black: 36, 36, 36;

  --primary: rgba(var(--dark-green), 1);
  --secondary: rgba(var(--light-green), 0.4);
  --background: rgba(var(--gray), 1);
  --off-white: rgba(var(--white), 1);
  --off-black: rgba(var(--black), 1);
}

body {
  color: var(--off-black);
  font-family: "Hanken Grotesk", system-ui,
    "Open Sans", sans-serif;

  min-height: 100vh;
  padding: 1rem 2rem;

  display: flex;
  flex-direction: column;
}

h1,
h2,
h3,
h4 {
  color: var(--primary);
  font-family: "Hedvig Letters Serif",
    "Times New Roman", Times, serif;
  font-weight: normal;
}

h1 {
  font-size: 3.125rem;
  letter-spacing: 1.5px;
  line-height: 3.75rem;
}

a,
a:visited {
  color: inherit;
  text-decoration: none;
}

/* --------- Header --------- */
header {
  display: flex;
  justify-content: space-between;
}

main {
  text-align: center;
  margin: auto;

  display: flex;
  flex-direction: column;
  gap: 2rem;
  align-items: center;
}

/*  --------- Index Page: Body --------- */
.index {
  /* Credit dkoi on Unsplash: https://unsplash.com/photos/water-droplets-on-a-surface-5nI9N2wNcBU */
  background-image: url("/assets/background.png");
  background-position: bottom right;
  background-size: cover;
  background-repeat: no-repeat;
}

/*  --------- Hero --------- */

.hero-text {
  max-width: 40rem;
  overflow-wrap: anywhere;
}

.hero-text > h1 {
  margin-bottom: 1.5rem;
}

.hero-text > p {
  font-size: 1.375rem;
}

.cta-btn {
  color: var(--off-white);
  background-color: var(--primary);
  width: fit-content;
  padding: 0.5rem 1rem;
  border-radius: 0.5rem;
  outline: 2px var(--primary) solid;

  transition: background-color 200ms ease-in-out;
}

.cta-btn:hover {
  color: var(--primary);
  background-color: var(--secondary);
}

.demo-callout {
  align-self: flex-end;

  padding: 0.5rem 1.5rem 0.5rem 1rem;
  background-color: var(--secondary);
  border-radius: 2rem;

  display: flex;
  gap: 0.8rem;
  align-items: center;

  transition: transform 200ms ease-in-out;
}

.demo-callout:hover {
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.3);
  transform: translateY(-3px);
}

.demo-callout h2,
.demo-callout p {
  font-family: "Hanken Grotesk", system-ui,
    "Open Sans", sans-serif;
  font-size: 0.9rem;
}

.demo-callout h2 {
  font-weight: 700;
}

.profile-photo {
  display: inline-block;
  height: 2.3rem;
  width: 2.3rem;

  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  background-color: rgb(73, 83, 76);

  border-radius: 50%;
}

.profile-photo:nth-child(1) {
  z-index: 1;
  background-image: url("/assets/shree-headshot-transparent.png");
  box-shadow: 2px 1px 3px rgba(0, 0, 0, 0.3);
}
.profile-photo:nth-child(2) {
  z-index: 0;
  margin-left: -1rem;
  background-image: url("/assets/sanjana-headshot-transparent.png");
}
