* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  --rounded-corners: 0.7rem;

  /* Brand colors */
  --dark-green: 45, 67, 52;
  --light-green: 169, 195, 174;
  --gray: 240, 240, 240;
  --white: 250, 250, 250;
  --black: 36, 36, 36;

  --primary: rgba(var(--dark-green), 1);
  --secondary: rgba(var(--light-green), 0.4);
  --background: rgba(var(--gray), 1);
  --off-white: rgba(var(--white), 1);
  --off-black: rgba(var(--black), 1);
}

body {
  --serif: "Hedvig Letters Serif",
    "Times New Roman", Times, serif;
  --sans-serif: "Hanken Grotesk", system-ui,
    "Open Sans", sans-serif;

  color: var(--primary);
  font-family: var(--sans-serif);

  min-height: 100vh;
  padding: 1rem 2rem;

  display: flex;
  flex-direction: column;
  gap: 3rem;

  overflow-x: hidden;

  /* From dkoi on Unsplash: https://unsplash.com/photos/water-droplets-on-a-surface-5nI9N2wNcBU */
  background-image: url("assets/background.png");
  background-position: bottom right;
  background-size: cover;
  background-repeat: no-repeat;
}

h1,
h2,
h3,
h4 {
  color: var(--primary);
  font-family: var(--serif);
  font-weight: 500;
}

h1 {
  font-size: 3.125rem;
  letter-spacing: 1.5px;
  line-height: 3.75rem;
}

h2 {
  font-size: 1.75rem;
}

button,
input {
  background-color: transparent;
  border: none;
}

a:link,
a:visited,
a:active,
a:hover {
  color: inherit;
  text-decoration: none;
}

button,
.cta-btn:link,
.cta-btn:visited,
.cta-btn:active {
  color: var(--off-white);
  background-color: var(--primary);
  width: fit-content;
  padding: 0.5rem 1rem;
  border-radius: var(--rounded-corners);
  border: 2px var(--primary) solid;

  transition: background-color 200ms ease-in-out;
}

.cta-btn:hover {
  color: var(--primary);
  background-color: var(--secondary);
}

/* --------- Header --------- */
header {
  display: flex;
  justify-content: space-between;
}

main {
  text-align: center;
  max-width: 60rem;
  margin: auto;

  display: flex;
  flex-direction: column;
  align-items: center;
}

#index-page main {
  gap: 2rem;
}
#product-page main {
  gap: 6rem;
}

/*  --------- Index Page: Hero --------- */

#index-page .hero-text {
  max-width: 40rem;
  margin-top: 3rem;
}

#index-page .hero-text > h1 {
  margin-bottom: 1.5rem;
}

#index-page .hero-text > p {
  font-size: 1.375rem;
}

/*  --------- Index Page: Demo --------- */
.demo-callout {
  align-self: flex-end;

  padding: 0.5rem 1.5rem 0.5rem 1rem;
  background-color: var(--secondary);
  border-radius: 2rem;

  display: flex;
  gap: 0.8rem;
  align-items: center;

  transition: transform 200ms ease-in-out;
}

.demo-callout:hover {
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.3);
  transform: translateY(-3px);
}

.demo-callout h2,
.demo-callout p {
  font-family: var(--sans-serif);
  font-size: 0.9rem;
}

.demo-callout h2 {
  font-weight: 700;
}

.profile-photo {
  display: inline-block;
  height: 2.3rem;
  width: 2.3rem;

  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  background-color: rgb(73, 83, 76);

  border-radius: 50%;
}

.profile-photo:nth-child(1) {
  z-index: 1;
  background-image: url("assets/shree-headshot-transparent.png");
  box-shadow: 2px 1px 3px rgba(0, 0, 0, 0.3);
}
.profile-photo:nth-child(2) {
  z-index: 0;
  margin-left: -1rem;
  background-image: url("assets/sanjana-headshot-transparent.png");
}

/*  --------- Landing Page: Access Blocker --------- */

main#access-blocked {
  height: 100vh;
  width: 100%;
  gap: 0rem;
}

#access-blocked form {
  font-size: 1.3rem;
  font-family: var(--sans-serif);
  margin: auto;

  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

#access-blocked input {
  color: var(--primary);
  padding: 0.5rem 1rem;
  border-radius: var(--rounded-corners);
  border: 2px var(--primary) solid;
  background-color: var(--secondary);
}

#access-blocked button {
  width: 100%;
}

.error {
  opacity: 0;
  font-size: 0.9rem;
  color: rgb(168, 76, 85);
}

#access-granted {
  display: none;
  flex-direction: column;
  gap: 3rem;
  visibility: hidden;
}

/*  --------- Landing Page: Navigation --------- */

.desktop-nav ul,
.mobile-nav {
  /* From https://css.glass */
  background: rgba(255, 255, 255, 0.092);
  border-radius: 0.8rem;
  box-shadow: 0 0.25rem 1rem rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(0.5rem);
  -webkit-backdrop-filter: blur(0.5rem);
  border: 2px solid rgba(255, 255, 255, 0.5);
}

.desktop-nav ul {
  z-index: 100;
  position: fixed;
  transform: translate(-50%, -25%);

  padding: 0.5rem;
  padding-left: 1.2rem;
  list-style: none;

  display: flex;
  gap: 2rem;
  align-items: center;
}

.desktop-nav ul .cta-btn {
  padding: 0.2rem 0.7rem;
  min-width: max-content;
}

.mobile-nav {
  display: none;
}

/*  --------- Landing Page: Hero --------- */
.product-hero {
  text-align: left;
  margin-top: 1rem;

  display: flex;
  gap: 2rem;
  flex-wrap: wrap;
  align-items: center;
}

.product-hero .hero-text {
  flex: 1;
  min-width: 20rem;
  height: min-content;
  padding: 0 1rem 0 2rem;
}

#product-page .hero-text h1 {
  font-size: 2.5rem;
  line-height: 3rem;
  margin-bottom: 1.5rem;
}

#product-page .hero-text p {
  font-size: 1.1rem;
}

.product-hero img {
  opacity: 0.8;
  flex: 2;

  height: 100%;
  max-width: 100%;
  margin-right: -20%;

  filter: drop-shadow(
    0px 1px 5px rgba(0, 0, 0, 0.1)
  );
  animation: float 4s ease-in-out infinite
    alternate;
}

@keyframes float {
  50% {
    transform: translateY(-7px);
    opacity: 1;
    filter: drop-shadow(
      0px 3px 5px rgba(0, 0, 0, 0.2)
    );
  }
}

/*  --------- Landing Page: Problem Statment --------- */
#problem {
  text-align: left;
  padding: 3rem;
  background-color: var(--secondary);
  border-radius: var(--rounded-corners);

  display: flex;
  gap: 3rem;
  flex-wrap: wrap;
  justify-content: center;
}

#problem h2 {
  flex: 1;
}
#problem div {
  font-size: 1.1rem;

  flex: 1;
  display: flex;
  gap: 1rem;
  flex-direction: column;
}

#problem > div p {
  flex: 1;
  line-height: 130%;
}

/*  --------- Landing Page: Solution --------- */
#solution {
  max-width: 37rem;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

#solution ul {
  list-style: none;
  display: flex;
  gap: 0.8rem;
  flex-wrap: wrap;
  justify-content: center;
}

#solution li {
  color: var(--primary);
  background-color: var(--off-white);
  width: fit-content;
  padding: 0.5rem 1rem;
  border-radius: var(--rounded-corners);
  box-shadow: 0 1px 5px rgba(0, 0, 0, 0.1);

  display: flex;
  align-items: center;
  gap: 0.35rem;

  transition: box-shadow 100ms ease-in-out;
}

#solution li::before {
  content: "";
  height: 1rem;
  width: 1rem;
  display: inline-block;

  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
}

#solution li:hover {
  box-shadow: 0 1px 5px rgba(0, 0, 0, 0.3);
}

#funding::before {
  background-image: url("assets/dollar-sign.png");
}

#literature::before {
  background-image: url("assets/book.png");
}

#experiments::before {
  background-image: url("assets/test-tube.png");
}

#inventory::before {
  background-image: url("assets/box.png");
}

#publication::before {
  background-image: url("assets/pencil.png");
}

#analysis::before {
  background-image: url("assets/graph.png");
}

/*  --------- Landing Page: Product Features --------- */
#product-features {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

#product-features > div {
  text-align: left;

  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1rem;
}

#product-features h3,
#product-features h4 {
  font-family: var(--sans-serif);
  font-weight: 700;
}

#orb,
#automations,
#eln {
  padding: 2rem;
  background-color: rgba(255, 255, 255, 0.5);
  border-radius: var(--rounded-corners);

  display: flex;
  gap: 1.4rem;
  flex-wrap: wrap;
  justify-content: center;
}

#orb {
  height: min-content;

  grid-row: span 2;
  flex-direction: column;
  gap: 0.5rem;
}

#orb-chat {
  padding: 1rem;
  margin: 1rem 0;

  background-color: white;
  border: 1px solid var(--primary);
  border-radius: var(--rounded-corners);
  box-shadow: 0 1px 5px rgba(0, 0, 0, 0.1);

  display: flex;
  flex-direction: column;
  gap: 0.7rem;
}

#chat-to,
#chat-from {
  width: 80%;
  padding: 0.7rem 1rem;
  font-size: 0.8rem;
  border-radius: 0.5rem;
  animation: slide-up 8s ease-in-out infinite;
}

#chat-to {
  align-self: flex-end;
  color: var(--primary);
  background-color: var(--background);
  border-bottom-right-radius: 0;
  animation-delay: 1s;
}

#chat-from {
  align-self: flex-start;
  color: var(--off-white);
  background-color: var(--primary);
  border-bottom-left-radius: 0;
  animation-delay: 1.5s;
}

#chat-from p:last-of-type {
  opacity: 0.6;
  font-size: 0.6rem;
  margin-top: 0.5rem;
}

@keyframes slide-up {
  0% {
    opacity: 0;
    transform: translateY(20px);
  }
  15% {
    opacity: 1;
    transform: translateY(0);
  }
  90% {
    opacity: 1;
    transform: translateY(0);
  }
  100% {
    opacity: 0;
    transform: translateY(0);
  }
}

.small-text {
  text-align: center;
  color: rgba(0, 0, 0, 0.4);
}

#automations div,
#eln div {
  flex: 1;

  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

#automations {
  overflow-y: hidden;
}

#automations img {
  margin-bottom: -4rem;
  filter: drop-shadow(
    0 3px 5px rgba(0, 0, 0, 0.1)
  );
  transition: transform 200ms ease-in-out;
}
#automations img:hover {
  transform: translateY(-20px);
}

#eln {
  padding-right: 0;
  overflow-x: hidden;
}

#eln div {
  min-width: 40%;
}

#eln img {
  margin-right: -4rem;
  filter: drop-shadow(
    0 3px 5px rgba(0, 0, 0, 0.1)
  );
  transition: transform 200ms ease-in-out;
}

#eln img:hover {
  transform: translateX(-20px);
}

/*  --------- Landing Page: About --------- */
#about > div {
  padding: 2rem;
  background-color: rgba(255, 255, 255, 0.5);
  border-radius: var(--rounded-corners);

  display: flex;
  gap: 2rem;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

#about h2 {
  margin-bottom: 1rem;
}

#about p {
  font-size: 1.1rem;
}

.founders-note {
  flex: 1;
  padding: 1rem;
  min-width: 40%;

  text-align: left;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.founders-photos {
  max-height: 13rem;
  padding-left: 1rem;
  background-color: var(--primary);
  border-radius: var(--rounded-corners);
  overflow-y: hidden;

  display: flex;
  align-items: center;
  justify-content: center;
}

.founders-photos img:first-of-type {
  z-index: 2;
  margin-top: 4rem;
  margin-right: -3rem;
  filter: contrast(1.2);
}
.founders-photos img:last-of-type {
  margin-top: 5rem;
  margin-left: -3rem;
}

/*  --------- Landing Page: Contact --------- */

#contact {
  margin-bottom: 2rem;

  display: flex;
  gap: 1rem;
  align-items: center;
}

#contact h2 {
  font-family: var(--sans-serif);
  font-size: 1.3rem;
}

#contact span {
  display: inline-block;
  height: 1.2rem;
  width: 1.2rem;

  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  background-image: url("assets/mail.png");
}

#contact a {
  color: var(--primary);
  background-color: transparent;
  transition: background-color 200ms ease-in-out;

  display: flex;
  align-items: center;
  gap: 0.5rem;
}

#contact a:hover {
  background-color: var(--secondary);
}

/*  --------- Landing Page: Footer --------- */
footer {
  padding: 2rem 4rem 1rem 4rem;

  background: rgba(255, 255, 255, 0.092);
  border-radius: 0.8rem;
  box-shadow: 0 0.25rem 1rem rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(0.5rem);
  -webkit-backdrop-filter: blur(0.5rem);
  border: 2px solid rgba(255, 255, 255, 0.5);
}

footer > div {
  display: flex;
  justify-content: space-between;
  gap: 2rem;
}

.footer-col > div,
.footer-col h4 {
  margin-bottom: 0.5rem;
}

.footer-col:nth-child(1) div {
  font-weight: bolder;
  font-size: 1.1rem;
}

.footer-col:nth-child(2) {
  margin-left: auto;
}

footer .small-text {
  opacity: 0.7;
  font-size: 0.9rem;
  margin-top: 3rem;
}

/* ----------------- Mobile screens ----------------- */

@media (max-width: 600px) {
  html {
    font-size: 0.8rem;
  }

  /* Index Page: Hero */
  body#index-page {
    height: 100vh;
  }

  #index-page .hero-text > h1 {
    letter-spacing: normal;
  }

  #index-page .hero-text > p {
    font-size: 1.2rem;
    text-wrap: pretty;
  }

  #index-page .cta-btn,
  .demo-callout {
    width: 100%;
    font-size: 1.2rem;
    justify-content: center;
  }

  .demo-callout > div {
    margin-left: 0.7rem;
  }

  .demo-callout h2 {
    font-size: 1.2rem;
  }

  /* Landing Page: Navigation */
  .desktop-nav,
  .desktop-nav + a {
    display: none;
  }

  .mobile-nav {
    z-index: 100;
    display: block;
    position: fixed;
    right: -2rem;
    text-align: right;
  }

  .mobile-nav button {
    font-family: var(--sans-serif);
    font-size: 1rem;
    right: 0;
    height: 24px;
    padding: 1rem 4rem 1rem 1rem;
    border: none;
    background-color: transparent;
    background-image: url(assets/show-menu.png);
    background-position: 15px;
    background-size: 17px 17px;
    background-repeat: no-repeat;

    transition: background-image 100ms ease-in-out;
  }

  .mobile-nav > ul {
    padding: 1rem 3rem 2rem 1rem;
    list-style: none;

    display: none;
    flex-direction: column;
    gap: 1rem;
    align-items: center;
  }

  #access-blocked input[type="text"] {
    font-size: 20px;
  }

  /* Landing Page: Hero */
  .product-hero {
    justify-content: center;
    margin-top: 2.5rem;
  }

  #product-page .hero-text {
    padding: 1rem;
  }

  #product-page .hero-text h1 {
    font-size: 2.2rem;
    line-height: 2.9rem;
  }

  .product-hero img {
    margin-right: 0;
    flex: 1;
  }

  /* Landing Page: Problem Statement */
  #problem {
    flex-direction: column;
    padding: 2.5rem 1.5rem;
  }

  #problem div {
    width: 100%;
    flex-direction: column;
  }

  /* Landing Page: Solution */
  #solution {
    text-align: left;
    padding: 1rem;
  }

  #solution ul {
    gap: 0.5rem;
  }

  #solution li {
    width: 100%;
    padding: 0.8rem 1rem;
  }

  /* Landing Page: Product Features */
  #product-features {
    text-align: left;
    padding: 1rem;
  }

  #product-features > div {
    display: flex;
    flex-direction: column;
    gap: 2rem;
  }

  #orb,
  #automations,
  #eln {
    padding: 2rem 1.5rem;
  }

  #automations img:hover {
    transform: translateY(-10px);
  }

  #eln img {
    margin-right: -6rem;
    filter: drop-shadow(
      0 3px 5px rgba(0, 0, 0, 0.1)
    );
  }

  #eln img:hover {
    transform: none;
  }

  /* Landing Page: About */

  #about h2 {
    text-align: left;
    padding: 1rem;
  }

  #about > div {
    flex-direction: column;
  }

  .founders-photos {
    max-height: 15rem;
    overflow: hidden;
  }

  .founders-photos img {
    transform: scale(0.8);
  }

  .founders-photos img:first-of-type {
    margin-right: -5rem;
    width: 100%;
    object-fit: cover;
  }
  .founders-photos img:last-of-type {
    margin-left: -5rem;
    width: auto;
  }

  /* Landing Page: Contact */
  #contact {
    flex-wrap: wrap;
    justify-content: center;
    max-width: 80%;
  }

  /* Landing Page: Footer */
  footer {
    padding: 2rem 2rem 1rem 2rem;
  }

  footer > div {
    flex-wrap: wrap;
  }
}
