* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  --rounded-corners: 0.7rem;

  /* Brand colors */
  --dark-green: 45, 67, 52;
  --light-green: 169, 195, 174;
  --gray: 240, 240, 240;
  --white: 250, 250, 250;
  --black: 36, 36, 36;

  --primary: rgba(var(--dark-green), 1);
  --secondary: rgba(var(--light-green), 0.4);
  --background: rgba(var(--gray), 1);
  --off-white: rgba(var(--white), 1);
  --off-black: rgba(var(--black), 1);
}

body {
  color: var(--primary);
  font-family: "Hanken Grotesk", system-ui,
    "Open Sans", sans-serif;

  min-height: 100vh;
  padding: 1rem 2rem;

  display: flex;
  flex-direction: column;
  gap: 3rem;
}

h1,
h2,
h3,
h4 {
  color: var(--primary);
  font-family: "Hedvig Letters Serif",
    "Times New Roman", Times, serif;
  font-weight: 500;
}

h1 {
  font-size: 3.125rem;
  letter-spacing: 1.5px;
  line-height: 3.75rem;
}

h2 {
  font-size: 1.75rem;
}

a:link,
a:visited,
a:active,
a:hover {
  color: inherit;
  text-decoration: none;
}

.cta-btn:link,
.cta-btn:visited,
.cta-btn:active {
  color: var(--off-white);
  background-color: var(--primary);
  width: fit-content;
  padding: 0.5rem 1rem;
  border-radius: var(--rounded-corners);
  outline: 2px var(--primary) solid;

  transition: background-color 200ms ease-in-out;
}

.cta-btn:hover {
  color: var(--primary);
  background-color: var(--secondary);
}

/* --------- Header --------- */
header {
  display: flex;
  justify-content: space-between;
}

main {
  text-align: center;
  max-width: 60rem;
  margin: auto;

  display: flex;
  flex-direction: column;
  gap: 4rem;
  align-items: center;
}

/*  --------- Index Page: Body --------- */
.index {
  /* From dkoi on Unsplash: https://unsplash.com/photos/water-droplets-on-a-surface-5nI9N2wNcBU */
  background-image: url("/assets/background.png");
  background-position: bottom right;
  background-size: cover;
  background-repeat: no-repeat;
}

/*  --------- Index Page: Hero --------- */

.hero-text {
  max-width: 40rem;
  overflow-wrap: anywhere;
}

.hero-text > h1 {
  margin-bottom: 1.5rem;
}

.hero-text > p {
  font-size: 1.375rem;
}

/*  --------- Index Page: Demo --------- */
.demo-callout {
  align-self: flex-end;

  padding: 0.5rem 1.5rem 0.5rem 1rem;
  background-color: var(--secondary);
  border-radius: 2rem;

  display: flex;
  gap: 0.8rem;
  align-items: center;

  transition: transform 200ms ease-in-out;
}

.demo-callout:hover {
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.3);
  transform: translateY(-3px);
}

.demo-callout h2,
.demo-callout p {
  font-family: "Hanken Grotesk", system-ui,
    "Open Sans", sans-serif;
  font-size: 0.9rem;
}

.demo-callout h2 {
  font-weight: 700;
}

.profile-photo {
  display: inline-block;
  height: 2.3rem;
  width: 2.3rem;

  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  background-color: rgb(73, 83, 76);

  border-radius: 50%;
}

.profile-photo:nth-child(1) {
  z-index: 1;
  background-image: url("/assets/shree-headshot-transparent.png");
  box-shadow: 2px 1px 3px rgba(0, 0, 0, 0.3);
}
.profile-photo:nth-child(2) {
  z-index: 0;
  margin-left: -1rem;
  background-image: url("/assets/sanjana-headshot-transparent.png");
}

/*  --------- Landing Page: Navigation --------- */
.nav-bar {
  z-index: 100;
  position: fixed;
  transform: translate(-50%, -25%);

  padding: 0.5rem;
  padding-left: 1.2rem;
  list-style: none;

  /* From https://css.glass */
  background: rgba(255, 255, 255, 0.092);
  border-radius: 0.8rem;
  box-shadow: 0 0.25rem 1rem rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(0.5rem);
  -webkit-backdrop-filter: blur(0.5rem);
  border: 2px solid rgba(255, 255, 255, 0.5);

  display: flex;
  gap: 2rem;
  align-items: center;
}

.nav-bar .cta-btn {
  padding: 0.2rem 0.7rem;
}

/*  --------- Landing Page: Hero --------- */
.product-hero {
  text-align: left;
  margin-top: 1rem;

  display: flex;
  gap: 2rem;
  flex-wrap: wrap;
}

.product-hero .hero-text {
  flex: 1;
  transform: scale(0.8);
  min-width: 20rem;
}

.product-hero img {
  flex: 1;
  width: 100%;
  height: 100%;
}

/*  --------- Landing Page: Problem Statment --------- */
.problem {
  text-align: left;
  padding: 3rem;
  background-color: var(--secondary);
  border-radius: var(--rounded-corners);

  display: flex;
  gap: 3rem;
  flex-wrap: wrap;
}

.problem h2 {
  flex: 1;
  min-width: 20rem;
}
.problem div {
  flex: 1;
  font-size: 1.1rem;

  display: flex;
  flex-direction: column;
  gap: 1rem;
}

/*  --------- Landing Page: Solution --------- */
.solution {
  max-width: 37rem;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.solution ul {
  list-style: none;
  display: flex;
  gap: 0.8rem;
  flex-wrap: wrap;
  justify-content: center;
}

.solution li {
  color: var(--primary);
  background-color: var(--off-white);
  width: fit-content;
  padding: 0.5rem 1rem;
  border-radius: var(--rounded-corners);
  box-shadow: 0 1px 5px rgba(0, 0, 0, 0.1);

  display: flex;
  align-items: center;
  gap: 0.35rem;
}

#funding::before,
#literature::before,
#experiments::before,
#publication::before,
#analysis::before {
  content: "";
  height: 1rem;
  width: 1rem;
  display: inline-block;

  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
}

#funding::before {
  background-image: url("/assets/dollar-sign.png");
}

#literature::before {
  background-image: url("/assets/book.png");
}

#experiments::before {
  background-image: url("/assets/test-tube.png");
}

#publication::before {
  background-image: url("/assets/pencil.png");
}

#analysis::before {
  background-image: url("/assets/graph.png");
}

/*  --------- Landing Page: Product features --------- */
